.navbar-brand {
  font-family: 'Montserrat', sans-serif;
  color: rgba(255, 255, 255, 0.5) !important;
  font-size: 1.5rem;
  font-weight: 700;
}
.nav-icon {
  margin-bottom: 0;
  li {
    display: inline-block;
    width: 45px;
    text-align: center;
    a {
      line-height: 20px;
    }
  }
  .material-icons {
    vertical-align: -5px;
    font-size: 24px;
  }
  li:not(:nth-child(1)) {
    border-left: 1px solid rgba(255, 255, 255, 0.2);
  }
}
.main-nav {
  .nav-link {
    font-weight: 700;
    font-size: 0.875rem;
    border-bottom: 4px solid transparent;
    margin: 0px 15px;
    &:hover {
      border-bottom: 4px solid #ff4081;
    }
  }
  .active {
    border-bottom: 4px solid #ff4081;
  }
}
